
.bg-light-blue {
  background-color: #d0f0fd; 
  min-height: 100vh;
}

.main-content {
 
  padding-left: 110px;
  
  
  min-height: 100vh;
}


.btn-primary {
  background-color: #1fa2ff; 
  border-color: #1fa2ff;
  
  &:hover {
    background-color: darken(#1fa2ff, 10%);
  }
}