
.bg-light-blue {
  background-color: #d0f0fd; 
  min-height: 100vh;
}

.main-content {
 
  padding-left: 110px;
  
  
  min-height: 100vh;
}


.btn-primary {
  background-color: #ffffff; 
  border-color: #ffffff;
  
  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}